body {
  padding: 0;
  margin: 0;
}
html, body, #map, #sidebar {
  height: 100%;
  font: 10pt 'Droid Sans', sans-serif;
}
#map {
  width: 80%; 
  float:left;
}
#sidebar {
  width:20%;
  float:left; 
  overflow:scroll;
}