* {
  padding: 0;
  margin: 0;
}
html, body, #map, #sidebar,#container {
  height: 100%;
  font: 10pt 'Muli', 'Century Gothic', sans-serif;
}
#container
{
    box-sizing: border-box;
}
#map {
  border-left: 15px solid #00bee0;
  overflow:hidden;
}
#sidebar {
  float:left;
  width:360px;
  background: #00a6c4;
}
h1 {
  margin:30px 30px;
  color:#fff;
  /*font-weight: none;*/
}
input[type=text] {
  width:290px;
  margin:30px auto;
  display:block;
  border: none;
  color:#00bee0;
  background: #fff;
  padding:5px;
  height:25px;
}
ul {
  list-style-type: none;
  padding:0;
  margin:0 auto;
  display: block;
  width:305px;
}
ul#no-query li {
  text-align:center;
  width:45px;
  height: 18px;
}

ul#query li {
  width: 290px;
  height: auto;
}

.large {
  font-size: 1.4em;
}

ul li {
  float:left;
  padding:5px;
  margin: 3px;
  font-size: 16px;
  background: #00bee0;
}
ul li:hover {
  background: #fff;
}
ul li:hover a{
  color: #000;
}
a {
  /*font-weight: bold;*/
  color:#fff;
  text-decoration: none;
}